{% load static %}
<html>
    <head>
      <title>Sport Classes Quality Feedback</title>
      <meta charset="UTF-8">
      <link rel = "icon" href = "{% static 'img/logo1.png' %}">
      <link rel="stylesheet" href="{% static 'css/club.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
      <style>
      body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
      </style>
    </head>
    <body class="w3-light-grey">
      <div class="w3-content" style="max-width:1400px">

        <header class="w3-container w3-center w3-padding-32">
          <h1><b> {{ club.name }} </b></h1>
          <a href = "/"> <img class = "logo" src = "{% static 'img/logo.png' %}"> </a>
          {% if user.is_authenticated %}
            <div class = "navigation">
              <table>
                <tr>
                  <th>
                    <a href = "/admin">  <img src = "{% static 'img/lock-solid.svg'%}"> admin </a>
                  </th>
                  <th>
                  </th>
                  <th>
                    <img src = "{% static 'img/user.png'%}"> {{ username }}
                  </th>
                  <th>
                  </th>
                  <th>
                    <a href = "/logout"> <img src = "{% static 'img/logout.png'%}"> Log out </a>
                  </th>
                </tr>
              </table>
            </div>
          {% else %}
              <div class = "navigation">
                <table>
                  <tr>
                    <th>
                      <a href = "/admin">  <img src = "{% static 'img/lock-solid.svg'%}"> admin </a>
                    </th>
                    <th>
                    </th>
                    <th>
                      <a href = "/login">  <img src = "{% static 'img/login.png'%}"> Log in </a>
                    </th>
                    <th>
                    </th>
                    <th>
                      <a href = "/register"> <img src = "{% static 'img/signup.png'%}"> Sign up </a>
                    </th>
                  </tr>
                </table>
              </div>
          {% endif %}
        </header>

        <div class = "grid-zoom">
          <div class="w3-row">

            <!-- Club entries -->
            <div class="w3-col l10 s15">
              <div class="w3-card-4 w3-margin w3-white">
                <img src="{{ club.image_url }}" alt="Club" style="width:100%">
                <div class="w3-container">
                  <h3><b> Description </b></h3>
                </div>

                <div class="w3-container">
                  <p> {{ club.desctiption }} </p>
                  <div class="w3-row">
                    <div class="w3-col m15 w3-hide-small">
                      <p><span class="w3-padding-large w3-right"><b> Rating  </b> <span class="w3-tag"> {{ club.grade }} </span></span></p>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
        {% if user.is_authenticated %}
          <div class="feedback-container">
            <form class="feedback-section" action="" method="post">
                {% csrf_token %}

                <label for="message">Your feedback</label>
                {{ form.text }}
                <div class="wrapper" id = "wrapper">
                    {% for key, value in form.grade.field.choices %}
                        <input type="radio" value="{{ key }}" name="grade" id = "{{ key }}">
                        <label for="{{ key }}">★</label>
                    {% endfor %}
                </div>
                <div>
                  <input type="submit" value="Send" class="myButton">
                </div>
           </form>
        </div>
      {% else %}
        <div class="feedback-container">
          <p> <a href = "/login"> Login </a> to leave a comment. </p>
        </div>
      {% endif %}
       <!-- Comments -->
      <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
          <h4>Coments</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
          {% for feedback in feedbacks %}
          <li class="w3-padding-16">
            <img src="https://dhananipeg.com/wp-content/uploads/2017/10/no-profile-img-240x300.gif" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large"> {{ feedback.author }}</span><br>
            <span> {{ feedback.text }} </span>
            <span class="w3-padding-large w3-right"><b> Rate  </b> <span class="w3-tag"> {{ feedback.grade }} </span></span>
          </li>
          {% endfor %}
        </ul>
      </div>
      <hr>
     </div>
   </body>
</html>
